[submodule "tilemaker"]
	path = tilemaker
	url = https://github.com/systemed/tilemaker
[submodule "openfreemap-styles"]
	path = openfreemap-styles
	url = https://github.com/hyperknot/openfreemap-styles
